<div class=" row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <img src="../../../assets/fotodeperfil.jpg" class="img-fluid" id="foto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">FERNANDO FACUNDO CUENCA ALEGRE</p>
        <p>FULL STACK  DEVELOPER Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>ACERCA DE MI</h1>
            <p>Especialidad Auxiliar Teleinformático</p>
        </span>
    </div>
</div>
