.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
    margin: auto;
}
/*estilo foto de perfil*/
@media (min-width: 576px){
    #foto{
        position: absolute;
        width: 22%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px  blue;
        left: 3%;
        top: 70%;     
    }
}
@media (max-width: 575px){
    #foto{
        position: absolute;
        width: 22%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px  blue;
        left: 3%;
        top: 70%;      
    }
}
/* etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 25%;    
}