<div class="row">
    <h1>EDUCACION</h1>
<div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>ESTUDIO 1</h1><h3>(YEARS)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut natus totam molestias fugit at voluptatem sunt ducimus laboriosam sapiente vitae distinctio similique eligendi quo delectus mollitia quam repellat, nobis laborum.</p>
        </ul>
        <ul>
            <li><h1>ESTUDIO 2</h1><h3>(YEARS)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut natus totam molestias fugit at voluptatem sunt ducimus laboriosam sapiente vitae distinctio similique eligendi quo delectus mollitia quam repellat, nobis laborum.</p>
        </ul>
        <ul>
            <li><h1>ESTUDIO 3</h1><h3>(YEARS)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut natus totam molestias fugit at voluptatem sunt ducimus laboriosam sapiente vitae distinctio similique eligendi quo delectus mollitia quam repellat, nobis laborum.</p>
        </ul>

    </div>

</div>

