<div class="row">
    <h1>EDUCACIÓN</h1>
<div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>SECUNDARIO COMPLETO</h1><h3>(BACHILLER)</h3></li>
            <p>Colegio Malvinas Argentnas nº 8, de la Provinvia de Corrientes (Capital) año 2007.</p>
        </ul>
        <ul>
            <li><h1>CAPACITACIÓN REALIZADA</h1><h3>(AÑO 2010)</h3></li>
            <p>Curso Operador de office exel y exel avanzado, word, power point. Redes básico, Reparación de PC. Y Notebook. Dictado Instituto CETAE, en la Provincia de Buenos Aires,(CABA).           </p>
        </ul>
        <ul>
            <li><h1>INSTITUTO DE CAPACITACIÓN (INSCAE)</h1><h3>(YEARS)</h3></li>
            <p>Realize curso dos años técnico auxiliar Teleinformático (ATE), en la Provinvia de Mercedes Buenos Aires.</p>
        </ul>

    </div>
    
</div>

